.env*
!.env.example
.vscode/
target/

# tts-service
tournesol/tts-stt/venv
tournesol/tts-stt/files
tournesol/tts-stt/__pycache__
tournesol/tts-stt/models/__pycache__
tournesol/tts-stt/services/__pycache__

# discord_bot
tournesol/discord_bot/venv
tournesol/discord_bot/__pycache__

/values.yaml
